@CHARSET "UTF-8";
	.styleMessage a {
  									font-family: Arial, Helvetica, sans-serif;
  					 				font-size: 80%;
  					 				color: #FFFFFF;
  					 				text-decoration: none;
  								}
  					
  .styleMessage body {
  										background: #008ed5;
  						 			 }
  						 	
  .styleMessage p {
  									font-family: Arial, Helvetica, sans-serif;
  									font-size: 80%;
  									color: #FFFFFF;  						
  				  			}		