@CHARSET "UTF-8";
	.styleTemplate { background: #008ed5; }
  		
  .styleTemplate table{
  											height: 100%;
  											width: 100%;
  									  }
  		
  .styleTemplate h1 {
											font-family: Arial, Helvetica, sans-serif, bold;
						  				font-size: 120%;
						  				color: #FFFFFF;  						
  			  					}